{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Tiny Inventory Manager{% endblock %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block style %}{% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "icons/manifest.json" %}">
    <link rel="mask-icon" href="{% static "icons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "icons/favicon.ico" %}">
    <meta name="apple-mobile-web-app-title" content="TIM">
    <meta name="application-name" content="TIM">
    <meta name="msapplication-config" content="{% static "icons/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<nav class="light-blue lighten-1">
    <div class="nav-wrapper container">
        <a href="{% url "inventory:index" %}" class="brand-logo">TIM</a>
    </div>
</nav>

{% include 'inventory/message.html' %}

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
