{% extends "inventory/base.html" %}
{% block content %}
    <div class="section">
        <div class="container">
            <form action='{% url "inventory:inventory_upload" %}' method="POST" enctype="multipart/form-data">
                <h2>Upload inventory data</h2>

                {{ form }}
                {% csrf_token %}
                <button class="btn waves-effect waves-light" type="submit" name="action">Upload
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
